<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Status</h1>
  </ion-header-bar>

  <ion-content id="status">
    <div class="list card">
      <div class="item item-divider">
       Current User 
      </div>
      <a class="item" href="#" editable-text="model.status" onaftersave="statusModal.hide()" e-formclass="item">{{model.status}}
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Select Status
      </div>
      <label
       ng-repeat="item in statusList"
       ng-click="selectStatus(item)"
       class="item item-text-wrap">
       {{item}}
      </label>
    </div>
  </ion-content>
</ion-modal-view>
